.icons-rows{
    display: flex;
    justify-content: space-between;
    
    
}

.icons-rows__icon{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icons-rows__icon i {
    font-size: 35px;
    
}

.icons-rows__icon span{
    margin-top: 18px;
}
